<div class="card bg-card text-dark">
  <div class="card-header">
    Detalle Producto
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">

          <li class="list-group"> Nombre: {{producto.nombre}}</li>


        </ul>
        <button class="btn btn-primary" style="background-color: black; margin: 20px;" ><a routerLink="/producto/main" style="text-decoration: none;"> Volver a Productos</a></button>
      </div>
    </div>

  </div>
</div>
